
.form {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    background-color: rgb(232, 232, 255);
}
input:focus {
    border-color: rgb(154, 154, 255);
}
.button{
    display: block;
    padding: 5px 10px;
    border: 1px solid rgb(132, 143, 206);
    background-color: rgb(173, 198, 252);
    border-radius: 4px;
    color: rgb(44, 44, 44);
}
.button:hover {
    background-color: rgb(161, 193, 252);
    /* color: black; */
}
.button:active {
    background-color: rgb(117, 161, 243);
    color: black;
}
